HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
ALLOWED_ORIGINS=http://localhost:5050,null
TIMEOUT=10s
# --- НАСТРОЙКИ POSTGRES (MASTER / ЗАПИСЬ)
POSTGRES_MASTER_HOST=localhost
POSTGRES_MASTER_PORT=5432
POSTGRES_MASTER_USER=
POSTGRES_MASTER_PASSWORD=
POSTGRES_MASTER_DB=
POSTGRES_MASTER_TIMEOUT=5s
POSTGRES_MASTER_MAX_CONNS=15
# --- НАСТРОЙКИ POSTGRES (REPLICA / ЧТЕНИЕ)
# На локальной машине натравливаем реплику на ту же самую БД
POSTGRES_REPLICA_HOST=localhost
POSTGRES_REPLICA_PORT=5432
POSTGRES_REPLICA_USER=
POSTGRES_REPLICA_PASSWORD=
POSTGRES_REPLICA_DB=
POSTGRES_REPLICA_TIMEOUT=2s
POSTGRES_REPLICA_MAX_CONNS=50

LOGGER_LEVEL=DEBUG
TIME_ZONE=UTC